@import url("@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');");

body {
  background-image: url("https://i.pinimg.com/222x/d7/cf/f7/d7cff7ffce513265def93f604970fe95.jpg");
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 140px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 150px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.3));
}

.titulo {
  margin-left: 20px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weigth: 400;
  font-size: 25px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 16px;
}

.projetos {
  display: flex;
  flex-direction: column;
  font-weigth: 100;
  font-size: 25px;
  background: linear-gradient(230.65deg, #e040fb 27.49%, #29b6f6 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projeto-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}

.projeto-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}